@use '../../../public/assets/scss/variables' as *;

.content {
    background-image: url(../../../public/assets/img/main-page_light.png);
    background-size: 1430px;
    background-repeat: no-repeat;
    background-position: bottom right 3px;
    padding: 24px 24px 349px;

    @media (max-width: 1200px) {
        padding-bottom: 430px;
        min-height: 1000px;
        background-position: bottom 0px right 46%;
        background-size: 1660px;
    }

    @media (max-width: 768px) {
        padding: 24px 16px 260px;
    }

    &__container {
        max-width: 752px;
        gap: 16px;

        & .cards {
            display: block;

            & .ant-row {
                @media (max-width: 768px) {
                    flex-direction: column;
                    gap: 8px;
                }
            }

            & .ant-col {
                @media (max-width: 768px) {
                    max-width: 100%;
                }
            }
        }
    }
    & .card {
        &-top {
            & .ant-typography {
                color: $primary-light-9;
                font-size: 16px;
            }
        }
        &-tagline {
            margin-top: 8px;

            & .ant-typography {
                font-size: 20px;
                font-weight: 500;
            }
        }
        &-item .ant-card-body {
            padding: 12px 24px;
            text-align: center;

            & .ant-btn {
                @media (max-width: 768px) {
                    width: 100%;
                }
            }

            & span {
                color: $primary-light-6;
            }
            & svg path {
                fill: $primary-light-6;
            }
        }
        & .ant-card-head {
            @media (max-width: 1200px) {
                font-weight: 400;
            }

            @media (max-width: 768px) {
                text-align: center;
            }

            & .ant-card-head-title {
                white-space: wrap;
            }
        }
        & .ant-typography {
            margin-bottom: 0;
        }
    }
}
