@use '../../assets/scss/variables' as *;

main.content {
    background-image: url(../../assets/img/main-page_light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    padding: 24px;
    background-attachment: fixed;

    @media (max-width: 1200px) {
        background-position: bottom 0px left;
    }

    @media (max-width: 768px) {
        padding: 24px 16px;
    }
}
