@use '@assets/scss/variables' as *;

.modal {
    text-align: center;

    & svg {
        margin: 10px 5px;
    }
    & .message {
        margin: 24px 0;

        & h3.ant-typography {
            margin-bottom: 0;
        }

        & span.ant-typography {
            color: $character-light-secondary-45;
        }
    }
}
