@use '@assets/scss/variables' as *;

.header {
    & .title.ant-typography {
        font-weight: 700;
        max-width: 1055px;
        min-height: 103px;

        @media (max-width: 1200px) {
            font-size: 24px;
            font-weight: 500;
            min-height: 68px;
        }
        @media (max-width: 768px) {
            margin-top: 0px;
            font-size: 20px;
        }
    }
}

main.main-page-content {
    padding-bottom: 349px;

    @media (max-width: 1200px) {
        min-height: 1000px;
        padding-bottom: 430px;
    }

    @media (max-width: 768px) {
        padding: 24px 16px 260px;
    }

    & .container {
        max-width: 752px;
        gap: 16px;

        & .cards {
            display: block;

            & .ant-row {
                @media (max-width: 768px) {
                    flex-direction: column;
                    gap: 8px;
                }
            }

            & .ant-col {
                @media (max-width: 768px) {
                    max-width: 100%;
                }
            }

            & .card {
                height: 100%;
            }
        }

        & .card {
            &-top {
                & .ant-typography {
                    color: $primary-light-9;
                    font-size: 16px;
                }
            }
            &-tagline {
                margin-top: 8px;

                & .ant-typography {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            &-item .ant-card-body {
                padding: 12px 24px;
                text-align: center;

                & .ant-btn {
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                }

                & span {
                    color: $primary-light-6;
                }
                & svg path {
                    fill: $primary-light-6;
                }
            }
            & .ant-card-head {
                @media (max-width: 1200px) {
                    font-weight: 400;
                }

                @media (max-width: 768px) {
                    text-align: center;
                }

                & .ant-card-head-title {
                    white-space: wrap;
                }
            }
            & .ant-typography {
                margin-bottom: 0;
            }
        }
    }
}
