@use '@assets/scss/variables' as *;

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #404040;
    font-family: $font-family;
    line-height: 1.3;
}
.app {
    max-width: 1440px;

    .content-block {
        width: 540px;
        background-color: $character-light-primary-inverse;

        @media (max-width: 768px) {
            width: 330px;
        }

        & .ant-card-body {
            padding: 65px 85px;

            @media (max-width: 768px) {
                padding: 32px 16px;
            }
        }
    }
}

.ant-modal-root {
    & .content-block {
        & .ant-modal-body {
            padding: 65px 85px;

            @media (max-width: 768px) {
                padding: 32px 16px;
            }
        }
    }
}

.ant-layout,
.ant-modal-root {
    & .ant-typography,
    & .ant-input,
    & .ant-modal-confirm-title {
        color: $character-light-title-85;
    }
    & .ant-modal-confirm-title {
        font-weight: 400;
    }
    & .ant-typography,
    & .ant-modal-confirm-title,
    & .ant-modal-confirm-content {
        line-height: 1.3;
    }
    & .ant-typography {
        margin: 0;
    }
    & h3.ant-typography {
        font-weight: 500;
    }
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button.ant-btn-primary {
    background-color: $primary-light-6;
    border-color: $primary-light-6;
}
button.ant-btn-link {
    color: $primary-light-6;
}
body .ant-modal-mask {
    background: transparent;
    backdrop-filter: blur(5px);
}

div.ant-form-item-control-input,
div.ant-col {
    min-height: 0;
}

.scrolled {
    overflow-y: scroll;
    overflow-x: clip;

    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-track {
        background: $character-light-primary-inverse;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $character-light-disable-25;
        border-radius: 20px;
        border: 4px solid $character-light-primary-inverse;
    }
}
